<form [formGroup]="stockForm" (ngSubmit)="addNewStock(stockForm)">

  <mat-form-field color="accent">
    <input type="text" matInput placeholder="Stock Symbol" formControlName="symbolCtrl">
  </mat-form-field>

  <mat-form-field color="accent">
    <input type="text" matInput placeholder="# of Shares" formControlName="sharesCtrl">
  </mat-form-field>

  <button mat-button mat-mini-fab type="submit">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-button mat-mini-fab type="button" (click)="deleteRows()">
    <mat-icon>delete</mat-icon>
  </button>
</form>

<div class="mat-elevation-z8">
  <mat-table #finalTable [dataSource]="dataSourceFinal">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef>Symbol</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.symbol}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="shares">
      <mat-header-cell *matHeaderCellDef># of Shares</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.shares}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>Select Row</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-checkbox (click)="markRow(item)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
