<div>
  <h1>Welcome to the Stock Rebalancer</h1>
  <p>
    This is a product of NovaCode LLC, and we're very happy to serve all of our users with advanced single page web apps.
    If you like our product and would like to contact us about your own project, please feel free to email us at the link below.

    <br><br>

    Please remember this is a free app and only serves as a suggestion.  We are not providing any type of financial advice!
    We're simply using current stock prices to determine how to reach the requested mix of stocks to meet your specified
    percentages of the total final portfolio.  We are in no way responsible for any damages you may incur using this app.

    <br><br>

    Now that the obligatory legal disclaimer has been completed. Please feel free to look around, and enjoy our little app.
  </p>
</div>
