<form [formGroup]="stockForm" (ngSubmit)="addNewStock(stockForm)">

  <table>
    <tr>
      <td>
        <mat-form-field color="accent">
          <input type="text" matInput placeholder="Stock Symbol" formControlName="symbolCtrl">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field color="accent">
          <input type="text" matInput placeholder="% of Shares" formControlName="percentCtrl">
        </mat-form-field>
      </td>

      <td>
        <button mat-button mat-mini-fab type="submit" color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </td>

      <td>
        <button mat-button mat-mini-fab type="button" color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</form>

<div class="mat-elevation-z8">
  <mat-table #initTable [dataSource]="dataSourceInit">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef>Symbol</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.symbol}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <mat-header-cell *matHeaderCellDef>% of Portfolio</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.percentage}}%</mat-cell>
    </ng-container>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>Select Row</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-checkbox></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
